@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@font-face {
  src: url("../fonts/Modern No. 20.ttf");
  font-family: Modern; }

@font-face {
  src: url("../fonts/Glamor-Regular.ttf");
  font-family: Glamor; }

@font-face {
  src: url("../fonts/AdallynDemo.otf");
  font-family: Adallyn; }
